{{#partial "content"}}
    <header>
        <nav class="navbar d-flex w-100 justify-content-between align-items-center h-5">
            <div class="brand">
                Auction
            </div>
            <div class="nav-links d-flex w-5">
                <a href="/logout" class="nav-link text-dark">Logout</a>
                <a href="/profile" class="nav-link text-dark">Profile</a>
                <a href="/about" class="nav-link text-dark">About Us</a>
            </div>
        </nav>
    </header>
    <div class="container h-100">
        <div class="jumbotron h-20 d-flex justify-content-center align-items-center">
            <div class="d-block">
                <h2 class="text-bold text-white">Welcome to Auction Center</h2><br>
                <div class="text-mute text-white text-center">Bid your way to the top</div>
            </div>
        </div>
        <div class="row mt-3">
           {{#if auctions}}
                {{#each auctions}}
                    <div class="col-md-3">
                        <div class="card h-100 ">
                            <img src="{{imageUrl}}" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{itemName}}</h5>
                                <p class="card-text">{{description}}</p>
                                <button type="button" id="bid"
                                        class="btn btn-dark" onclick="openUrl('/auction/{{id}}')">
                                    View details
                                </button>
                            </div>
                        </div>
                    </div>
                {{/each}}
           {{else}}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">No auctions found</h5>
                            <p class="card-text">
                                Go to your <a href="/profile" class="nav-link">profile</a> to create one
                            </p>
                        </div>
                    </div>
                </div>
           {{/if}}

        </div>
    </div>

    {{#block "modal"}}

    {{/block}}
{{/partial}}

{{> layout.hbs}}